@import "../variables.modules";

footer {
  color: $dark;
}

.dark {

background: #0D0D0D;
background: linear-gradient(0deg, #0D0D0D, #373737);
  color: $white;
  transition: all 400ms;

  a, i, li {
    color: $white;
    transition: color 400ms;
  }

  a:visited {
    color: $white;
  }

  footer {
    color: $white;
    font-size: 12px;
  }
}

.light {
  background-color: $white;
  color: $dark;
  transition: all 400ms;
}


